@font-face{
  font-family: 'anonymouspro';
  src:url('./anonymouspro.ttf')
}
@font-face{
  font-family: 'cascadia';
  src:url('./cascadia.ttf')
}
@font-face{
  font-family: 'dejavusans';
  src:url('./dejavusans.ttf')
}
@font-face{
  font-family: 'poppins';
  src:url('./poppins.ttf')
}
@font-face{
  font-family: 'quicksandbook';
  src:url('./quicksandbook.otf')
}
@font-face{
  font-family: 'sourcecodepro';
  src:url('./sourcecodepro.ttf')
}
@font-face{
  font-family: 'jetbrains';
  src:url('./jetbrains.ttf')
}

.uploadIcon{
  background-image: url("./assets/upload.png");
  background-size:42%;
  background-position: center;
  background-repeat: no-repeat;
  transition:all 0.2s;
}
.downloadIcon{
  background-image: url("./assets/downloads.png");
  background-size:46%;
  background-position: center;
  background-repeat: no-repeat;
  transition:all 0.2s;
}
.settingIcon{
  background-image: url("./assets/customize.png");
  background-size:42%;
  background-position: center;
  background-repeat: no-repeat;
}
.fontSize{
  background-image: url("./assets/font-size.png");
  background-size:80%;
  background-position: center;
  background-repeat: no-repeat;
}
.fontFamily{
  background-image: url("./assets/font-family.png");
  background-size:60%;
  background-position: center;
  background-repeat: no-repeat;
}
.theme{
  background-image: url("./assets/theme.png");
  background-size:80%;
  background-position: center;
  background-repeat: no-repeat;
}
.minus{
  background-image: url("./assets/minus.png");
  background-size:30%;
  background-position: center;
  background-repeat: no-repeat;
}
.plus{
  background-image: url("./assets/plus.png");
  background-size:30%;
  background-position: center;
  background-repeat: no-repeat;
}
.left{
  background-image: url("./assets/left.png");
  background-size:30%;
  background-position: center;
  background-repeat: no-repeat;
}
.right{
  background-image: url("./assets/left.png");
  background-size:30%;
  transform: scaleX(-1);
  background-position: center;
  background-repeat: no-repeat;
}

.downloadIcon:hover,.left:hover,.right:hover,.uploadIcon:hover,.settingIcon:hover,.plus:hover,.minus:hover,.fontFamily:hover{
  
  transition:all 0.2s;
  cursor:pointer;
}

.downloadIcon:hover,.uploadIcon:hover,.settingIcon:hover{
  
  transform:scale(110%);
}

.uploadIcon > input{
  cursor:pointer;
}
::-webkit-scrollbar {
  width: 10px;
}
.indexText::-webkit-scrollbar {
  width: 0px;
}
/* Handle */
::-webkit-scrollbar-thumb {
  background-color: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background-color: #555;
}
input:focus,input:active{
  outline:none
}
textarea:focus,textarea:active{
  outline:none
}

body,html{
    margin: 0rem;
    padding: 0rem;   

}

.xyz{
  color:rgb(236, 247, 255);
  color:rgb(32, 32, 32);
  color:#eff8ff;
  color:rgb(56, 56, 56);
  color:#252525
}