/* Track */

@font-face{
  font-family: 'data';
  src:url('./data.ttf')
}
.uploadIcon{
  background-image: url("./assets/upload.png");
  background-size:42%;
  background-position: center;
  background-repeat: no-repeat;
  transition:all 0.2s;
}
.downloadIcon{
  background-image: url("./assets/downloads.png");
  background-size:46%;
  background-position: center;
  background-repeat: no-repeat;
  transition:all 0.2s;
}
.settingIcon{
  background-image: url("./assets/customize.png");
  background-size:42%;
  background-position: center;
  background-repeat: no-repeat;
}
.fontSize{
  background-image: url("./assets/font-size.png");
  background-size:80%;
  background-position: center;
  background-repeat: no-repeat;
}
.fontFamily{
  background-image: url("./assets/font-family.png");
  background-size:36%;
  background-position: center;
  background-repeat: no-repeat;
}
.theme{
  background-image: url("./assets/theme.png");
  background-size:60%;
  background-position: center;
  background-repeat: no-repeat;
}
.minus{
  background-image: url("./assets/minus.png");
  background-size:30%;
  background-position: center;
  background-repeat: no-repeat;
}
.plus{
  background-image: url("./assets/plus.png");
  background-size:30%;
  background-position: center;
  background-repeat: no-repeat;
}
.theme:hover,.uploadIcon:hover,.settingIcon:hover,.plus:hover,.minus:hover,.fontFamily:hover{
  background-color: #888;
  transition:all 0.2s;
  cursor:pointer;
}
.downloadIcon:hover{
  background-color: #888;
  

  transition:all 0.2s;
  cursor:pointer;
}
.uploadIcon > input{
  cursor:pointer;
}
::-webkit-scrollbar {
  width: 10px;
}
.indexText::-webkit-scrollbar {
  width: 0px;
}
/* Handle */
::-webkit-scrollbar-thumb {
  background-color: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background-color: #555;
}
input:focus,input:active{
  outline:none
}
textarea:focus,textarea:active{
  outline:none
}

body,html{
    margin: 0rem;
    padding: 0rem;   

}